
<br>
<center><H4>ANUNCIE</H4></center>
<p align="justify">
O Portal Grande Colorado é um espaço virtual dedicado ao de anúncio de empresas e profissionais liberais que atuam no bairro Grande Colorado e regiões próximas (DF 425, Região dos Lagos, Setor de Mansões, Sobradinho I e Sobradinho II). Seu objetivo é servir como canal de comunicação entre moradores e comerciantes, facilitando a aquisição de produtos e a contratação de serviços.
</P>

<p align="center">Divulgue sua empresa no portal e apareça para todo a população dentro da sua região.</p>
<center><img src="images/banner-anuncie.png" width="80%"></center>
<div class="clr"></div>

<p align="justify">
Você e sua empresa estarão na internet ativamente, 24 horas por dia, facilitando sua localização para quem procura por seus produtos e serviços.

<p align="justify">
A internet é o veículo mais utilizado pela maioria das pessoas nas buscas por produtos e serviços, com os melhores resultados para os anunciantes, e menor investimento comparado a outros tipos de mídia.<BR></p>
<center><img src="images/banner-anuncie2.jpg" width="80%"></center>

    

<br>
Alcance pessoas que buscam exatamente por seus serviços na internet, seja no bairro ou no Distrito Federal inteiro.<br>
<center> Seu anúncio pode ser cadastrado nos seguintes formatos:</center>



<img src="images/anuncio_destaque.png"><br>
Exposição: Categorias do Guia
Tipos de Mídia: Cadastro<br>
Valor: R$ 384,00<br>
Período: 1 ano<br>
Obs: Os anúncios deste formato
possuem também uma página
exclusiva com mais informações (Hotsite).
<br><br>
<hr>

<img src="images/anuncio_destaque2.png"><br>
Exposição: Categorias do Guia
O cadastro simples aparece logo abaixo dos anúncios de formato Destaque, 
informando apenas o título do anúncio, 1 telefone e uma rápida descrição da atividade da empresa.
   
<br><br>



<center><H5>Solicite um representante</H5></center>

<center>
  <table >
  <tbody>
    <tr>
      <td> <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946"><img src="images/whatsapp.png" align="center"></a></td>
      <td><font color="white" size="2"><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">Fale direto pelo Whatsapp:</a></font><br><h4><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">(61) 99142-4946</a></h4></td>
    </tr>
  </tbody>
</table>
</center>



    </div>
   
  </div>
</div>
<br>
<center><img src="images/mapaportal.jpg"></center>  
