<br>
<center>
  <img src="images/img_2.png" width="80%" />
</center>
<br>
<div>
  <h5>
    <img ng-src="{{categoria.icone}}" align="center"> {{categoria.nome}}</h5>
</div>

<!-- Subcategorias inicio -->
<div class="row" ng-repeat="subcat in subcategorias" ng-if="$index % 3 == 0">
  <div class="col-xs-12 col-sm-4 col-sm-offset-1">
    <a class="text-dark" ui-sref="app.subcategorias({id: subcategorias[$index].id})">
      <img src="images\play-button.png"> {{subcategorias[$index].nome}}
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <a class="text-dark" ui-sref="app.subcategorias({id: subcategorias[$index+1].id})" ng-if="subcategorias[$index + 1].nome != null">
      <img src="images\play-button.png"> {{subcategorias[$index+1].nome}}
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-3">
    <a class="text-dark" ui-sref="app.subcategorias({id: subcategorias[$index+2].id})" ng-if="subcategorias[$index + 2].nome != null">
      <img src="images\play-button.png"> {{subcategorias[$index+2].nome}}
    </a>
  </div>
</div>

<!-- fim Subcategorias -->
<br>

<!-- Titulo -->
<div style="width:100%; height:35px; margin-bottom:0px;">
  <div style="display: inline-table; width:100%; border:none">
    <div style="float:left; width:auto; height:auto; border-bottom:solid 12px #2f3b66;">
      <h2 style="margin:0px; font-weight:normal; font-size:16pt;">Destaques - {{categoria.nome}}:</h2>
    </div>
  </div>
</div>
<!-- Titulo FIM -->

<hr>

<br>

<!--Cards para DESTAQUES-->
<div ng-repeat="catsEmp in destaques | unicos : 'empresaId'" style="background-image: url(images/fundo.png);">
  <a class="text-dark" ui-sref="app.empresa({id: catsEmp.empresaId})">
    <div class="media">
      <img class="align-self-start mr-3" style="border: 2px solid #000; border-radius: 10px;" ng-src={{catsEmp.empresa.logo}} width="30%">
      <div class="media-body">
        <h5 class="mt-0">{{catsEmp.empresa.nome}}</h5>
        <p align="justify">{{catsEmp.empresa.descricao}}</p>
        <p align="right">
          <button class="btn" style="background: #2f3b66; color: #f58634;">{{catsEmp.empresa.telefone}}</button>
        </p>
      </div>
    </div>
  </a>
  <hr>
</div>
<!--Fim cards DESTAQUES-->

<div style="width:100%; height:35px; margin-bottom:0px;">
  <div style="display: inline-table; width:100%; border:none">
    <div style="float:left; width:auto; height:auto; border-bottom:solid 12px #2f3b66;">
      <h2 style="margin:0px; font-weight:normal; font-size:16pt;">Empresas - {{categoria.nome}}:</h2>
    </div>
  </div>
</div>

<hr>

<br>
<!-- Listagem de Empresas -->

<div ng-repeat="emp in empresasCategoria | unicos : 'empresaId'" style="background-image: url(images/fundo.png);">
  <div class="media">
    <a ui-sref="app.empresa({id: emp.empresaId})">
      <img class="align-self-center mr-3" style="border: 1px solid #000; border-radius: 10px;" height="58" ng-src={{emp.empresa.logo}}>
    </a>
    <div class="media-body">
      <h5 class="mt-0">{{emp.empresa.nome}}</h5>
      {{emp.empresa.descricao}}
      <br> - {{emp.empresa.endereco}} -
      <br>
      <p align="right">
        <a ui-sref="app.empresa({id: emp.empresaId})">
          <button class="btn" style="background: #2f3b66; color: #f58634;">Ver Telefone</button>
        </a>
      </p>
    </div>
  </div>
  <hr>
</div>

<!-- Fim Listagem de Empresas -->