<br>
<div class="article">
    <h2>
        <b>Dados da Empresa</b>
    </h2>
</div>
<br>

<div class="media">
    <img class="align-self-start mr-3" ng-src={{empresa.logo}} width="30%">
    <div class="media-body">
        <h5 class="mt-0">{{empresa.nome}}</h5>
        <p align="justify">{{empresa.descricao}}</p>
    </div>
</div>

<div class="list-group">
  <p class="list-group-item"><img src="images/empresa-gps.png"> <b>{{empresa.endereco}}</b></p>
  <p class="list-group-item"><img src="images/empresa-phone.png"> {{empresa.telefone}}</p>
  <p class="list-group-item"><img src="images/empresa-smartphone.png"> {{empresa.celular}}</p>
  <p class="list-group-item"><img src="images/empresa-www.png"> <a href="{{empresa.site}}" target="outpage"> {{empresa.site}}</p></a>
  <p class="list-group-item"><img src="images/empresa-email.png"> {{empresa.email}}</p>
  <p class="list-group-item"><img src="images/empresa-facebook.png"> <a href="{{empresa.site}}" target="outpage">{{empresa.facebook}}</p></a>
  <p class="list-group-item"><img src="images/empresa-instagram.png"> <a href="{{empresa.site}}" target="outpage">{{empresa.instagram}}</p></a>
  <p class="list-group-item"><img src="images/empresa-twitter.png"> <a href="{{empresa.site}}" target="outpage">{{empresa.twitter}}</p></a>

  <div id="map" style="width:100%;height:300px;background:yellow"></div>

    <br>
    <!-- GALLERIA -->
    <!--
            <div class="container gallery-container">
                <div class="tz-gallery">
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
                    <br>
                    <br>
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">&nbsp
                    </a>
    
                    <a class="lightbox" href="images/loja01.jpg">
                        <img src="images/loja01.jpg" width="30%">
                    </a>
    
                </div>
            </div>
        -->
</div>



<!--Script necessary to load google maps engine-->
<script>
    function initMap() {
        var mpdft = { lat: -15.7876253, lng: -47.9077034 };//-15.7876253,-47.9077034
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: mpdft
        });
        var marker = new google.maps.Marker({
            position: mpdft,
            map: map,
            title: "MPDFT"
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN9jyRa4pqBkGIoPFplJaEcCMrBovbitY&callback=initMap">
</script>