<div class="row">
    <div class="col-sm-10">
        <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="images/banner_img/1.png" alt="Primeiro slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/banner_img/2.jpg" alt="Segundo slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="images/banner_img/3.jpg" alt="Terceiro slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
        <div style="width:100%; height:35px; margin-bottom:0px;">
            <div style="display: inline-table; width:100%; border:none;">
                <div style="float:left; width:auto; height:auto; border-bottom:solid 12px #2f3b66;">
                    <h2 style="margin:0px; font-weight:normal; font-size:16pt;">Destaques:</h2>
                </div>
            </div>
        </div>
        <hr>
        <br>
      <!--
        <table border="0">
            <tr>
                <th>
                    <h1></h1>
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <img src="images\teste01.jpg" style="float: left; margin-right:20px; margin-bottom:12px; border-radius:18px;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </td>
                <td>
                    <img src="images\teste02.jpg" style="float: left; margin-right:20px; margin-bottom:12px; border-radius:18px;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
-->
        <p align="justify">
            O Portal Grande Colorado é um espaço virtual dedicado ao de anúncio de empresas e profissionais liberais que atuam no bairro
            Grande Colorado e regiões próximas (DF 425, Região dos Lagos, Setor de Mansões, Sobradinho I e Sobradinho II).
            Seu objetivo é servir como canal de comunicação entre moradores e comerciantes, facilitando a aquisição de produtos
            e a contratação de serviços. </p>
        <a ui-sref="app.anuncieaqui">
             <button class="btn" style="background: #f58634; color: #2f3b66;">Leia Mais</button>
        </a>
      <center><img src="images/mapaportal.jpg"></center> 
        <br>
        
        <h3>
            <span>VANTAGENS DE TER SEU ANÚNCIO AQUI!</span>
        </h3>
        <p></p>
        <center>
          <a ui-sref="app.anuncieaqui">  <img src="images/img_2.png" width="100%" /></a>
        </center>
        <br>
        <p align="justify">Alguém está procurando por sua Empresa neste exato momento! Fale conosco e agende a visita de um consultor, ele lhe
            apresentará o melhor plano de publicidade. A mídia tradicional como rádio, tv, revista, jornal, panfletos, outdoors
            e outros veículos de comunicação vêm perdendo espaço para a mídia digital, e o nosso guia destaca-se justamente
            nesta área, aproveite e confira nossos planos.
        </p>
        <a ui-sref="app.anuncieaqui">
             <button class="btn" style="background: #f58634; color: #2f3b66;">Leia Mais</button>
        </a>
        <br>
        <br>
        <!-- CARDS !-->
        <div class="card-deck">
            <div class="card">
                 <a ui-sref="app.anuncieaqui"><img class="card-img-top" src="images/anuncie_2.png" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">Seu Anuncio</h5>
                    <p class="card-text">Espaço Reservado para o destaque da sua empresa.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Portal Grande Colorado</small>
                </div>
            </div>
            <div class="card">
                <a ui-sref="app.anuncieaqui"> <img class="card-img-top" src="images/anuncie_2.png" alt="Card image cap"> </a>
                <div class="card-body">
                    <h5 class="card-title">Seu Anuncio</h5>
                    <p class="card-text">Espaço Reservado para o destaque da sua empresa.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Portal Grande Colorado</small>
                </div>
            </div>
        </div>
        <!-- CARDS !-->
        <br>
        <br>
    </div>
    <div class="col-sm-2">
        <br>
      <a ui-sref="app.anuncieaqui"> <img src="images/formato_anuncio_arranhaceu.png"></a>
    </div>
</div>
<script>
    $('.carouselExampleIndicators').carousel({ cycle: true });
</script>
