<!-- Footer -->

<footer class="footer-distributed">

    <div class="footer-left">
        <img src="images/logo_white.png" width="30%" />
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a ui-sref="app.anuncieaqui">Anuncie</a>
            ·
            <a href="#">Contato</a>
            ·
            <a href="#">Sobre Nós</a>
        </p>
        <p class="footer-company-name">Portal Grande Colorado &copy; 2018</p>
    </div>

    <div class="footer-center">
        <center>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">
                                <img src="images/whatsapp.png" align="center">
                            </a>
                        </td>
                        <td>
                            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946"> &nbsp
                                <font color="white" size="2"> Fale direto pelo Whatsapp:</font>
                            </a>
                            <h4>
                                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5561991424946">
                                    <font color="white" size="5">&nbsp(61) 99142-4946</font>
                                </a>
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
        <br>
        <font color="white" size="3">&nbsp Parceiros:</font>
        <a href="#">
            <img src="images/gallery_1.jpg" width="58" height="58" />
        </a>
        <a href="#">
            <img src="images/gallery_2.jpg" width="58" height="58" alt="" />
        </a>
        <a href="#">
            <img src="images/gallery_3.jpg" width="58" height="58" alt="" />
        </a>
        <a href="#">
            <img src="images/gallery_4.jpg" width="58" height="58" alt="" />
        </a>
    </div>

    <div class="footer-right">
        <br>
        <p class="footer-company-about">
            <span>Mais que um guia comercial</span>
            Siga nossas redes sociais:
        </p>
        <a href="https://www.facebook.com/Portal-Grande-Colorado-2137564679833457/">
            <img src="images\facebook.png">
        </a> &nbsp
        <img src="images\instagram.png">
        <br>
        <br>
        <font color="white" size="2">contato@portalgrandecolorado.com.br</font>
    </div>
</footer>

<div class="footer_laranja">
    <center>
        Desenvolvido por
        <a href="videovisual.com.br">videovisual.com.br</a>
    </center>
</div>
<!-- Footer FIM-->