<div>
  <br>
  <h3>Regiões</h3>
  <select ng-model="regiao" ng-change="alteraRegiao()">
    <option value="0">Grande Colorado</option>
    <option value="1">DF - 425</option>
    <option value="2">Região dos Lagos</option>
    <option value="3">Sobradinho I</option>
    <option value="4">Sobradinho II</option>
  </select>
  <br>
  <br>
  <div ng-repeat="cat in categorias">
    <a class="text-dark" ui-sref="app.categorias({id: cat.id})">
      <img align="center" height="24" ng-src="{{cat.icone}}" /> &nbsp {{cat.nome}}
    </a>
    <hr>
  </div>
</div>